@{
    ViewBag.Title = "Home Page";
}

        <!-- Header - set the background image for the header in the line below -->
        <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
            <img class="img-fluid d-block mx-auto" style="width:17%" src="https://i.pinimg.com/originals/b6/a5/c4/b6a5c453d73452b5102596748244e191.gif" alt="">
        </header>

        <!-- Content section -->
        <section class="py-5">
            <div class="container">
                <h1>Going Zero Waste</h1>
                <p class="lead">Help people identify the waste type accurately and quickly </p>
                <p>Have you ever been unsure of how or where to dispose of your garbage? ‘Zero Waste’ will tell you exactly how it should be disposed of with a simple scan using your smartphone’s camera. Information from an uploaded photo will provide the user with the proper protocols to dispose of their trash properly. </p>
            </div>
        </section>

        <!-- Image Section - set the background image for the header in the line below -->
        <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
            <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
            <div style="height: 200px;"></div>
        </section>

        <!-- Content section -->
        <section class="py-5">
            <div class="container">
                <h1>What we do?</h1>
                <p class="lead">Integrate machine learning models into the app</p>
                <p>In our research conducted, we looked at Microsoft Ml.Net’s ‘Computer Vision’ model, which uses extracts information from the images provided. Computer vision will extract the important parts of the image, the object type, and the tag information. Object type will provide what kind of object is in the picture, for example on a photo of a banana peel, it would provide ‘Food’ or ‘Fruit’ as an instance or parent of an object in the photo. The tags, sticking with the banana peel example, will show the type of food, in this case, it would be different kinds of bananas. This information is extracted using only a photo, this is extremely helpful for the case of developing a machine learning garbage sorter. As we have decided Microsoft Azure would be a good candidate for the platform we would like to use for the app, we wanted to explore more features. </p>
            </div>
        </section>


